
.icon-plus:before { content: '\e800'; } /* '' */
.icon-plus-box:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-minus-box:before { content: '\e803'; } /* '' */
.icon-zoom-in:before { content: '\e804'; } /* '' */
.icon-zoom-out:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e808'; } /* '' */
.icon-list2:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-layers:before { content: '\e80b'; } /* '' */
.icon-settings:before { content: '\e80c'; } /* '' */
.icon-arrow:before { content: '\e80d'; } /* '' */
.icon-arrow-outline:before { content: '\e80e'; } /* '' */
.icon-arrow-small:before { content: '\e80f'; } /* '' */